@font-face {
    font-family: "Revans Medium";
    src: url("../Fuentes/Revans-Medium.ttf") format("truetype");
}  

@font-face {
    font-family: "Stay and Shine";
    src: url("../Fuentes/Stay\ and\ Shine.ttf") format("truetype");
}  

.Nombre {
    font-family: "Stay and Shine";
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 18px;
}

body {
    font-family: "Revans Medium";
}

.Footer {
    font-family: "Stay and Shine";
    text-align: right;
    font-size: 15px;
    color: #ffffff;
    padding-bottom: 100px;
    padding-top: 20px;
    margin-bottom: -10px;
}

.Titulo {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-family: "Revans Medium";
}

.Contenido {
    margin-top: 20px;
    color: #FFFFFF;
    font-family: "Revans Medium";
}