@font-face {
    font-family: "Revans Medium";
    src: url("../Fuentes/Revans-Medium.ttf") format("truetype");
}  

@font-face {
    font-family: "Stay and Shine";
    src: url("../Fuentes/Stay\ and\ Shine.ttf") format("truetype");
}  

.Nombre {
    font-family: "Stay and Shine";
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.Footer {
    font-family: "Stay and Shine";
    text-align: right;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.Pregunta {
    font-size: 18px;
    color: #b48d0c;
    letter-spacing: 2px;
}

.Formulario {
    text-indent: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Revans Medium";
}
.FormGeneral {
    font-family: "Revans Medium";
}